* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Re-usable classes */
.pad {
    padding-left: 25px;
    padding-right: 25px;
}

.padtop {
    padding-top: 18px;
    padding-bottom: 18px;
}

.mleft {
    margin-left: 25px;
}

.my-18 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.marg {
    margin-top: 35px;
}

/* End re-usable classes */

body {
    margin: 60px 0 0px 0px;
}

.container {
    width: 580px;
    margin: 50px auto;
    padding: 0px 40px;
    user-select: none;
}

.box {
    border-radius: 3.615px;
    outline: 1.904px solid #C8C8C8;
    cursor: pointer;
    transition: all .5s ease;
}

.box:hover{
    display: block;
    outline: 1.904px solid #007F61;
    background: #F4FBF9;
}

.heading {
    width: 100%;
    border-bottom: 2px solid #C8C8C8;
    position: relative;
}

.heading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #007F61;
    font-family: sans-serif;
    font-size: 18.076px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #ffffff;
}

.box-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.radio-btn {
    display: flex;
    align-items: center;
}

.radioBtn {
    width: 22.461px;
    height: 22.461px;
    border-radius: 50%;
    outline: 2px solid #DADADA;
    position: relative;
}

.radioBtn div {
    width: 14.461px;
    height: 14.461px;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.radioBtn-div1 {
    color: #000;
    font-family: sans-serif;
    font-size: 15.461px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.radioBtn-div2 {
    color: #000;
    font-family: sans-serif;
    font-size: 15.461px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.size-container {
    display: flex;
    justify-content: start;
    margin-left: 49.6px;
    margin-top: 14px;
}

.size-dropdown,
.color-dropdown {
    display: flex;
    flex-direction: column;
}

.size-dropdown h2,
.color-dropdown h2 {
    margin: 10px 0px;
    font-size: 13.942px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
}

.color-dropdown {
    margin-left: 10px;
}

.size-select,
.size-select2 {
    position: relative;
}

.size-select2,
.color-select2 {
    margin-top: 10px;
}

.txt {
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-family: sans-serif;
}

select {
    width: 100px;
    padding: 10px;
    border: 0.904px solid #D9D9D9;
    border-radius: 1.808px;
    font-size: 14.846px;
    font-style: normal;
    font-weight: 400;
    outline: none;
    appearance: none;
    background-image: url('./down-arr.png');
    background-size: 10px 15px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.dropdown-container {
    display: none;
}

.cross-text {
    color: #9F9F9F;
    font-size: 13px;
    align-self: end;
    position: relative;
    left: 24px;
}

.cross-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 41%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 0.5px;
    background-color: #9F9F9F;
}

.shipping {
    display: flex;
    justify-content: space-between;
    margin: 32px 0px;
}

.cart-button {
    border-radius: 4px 4px 4px 0px;
    background: #007F61;
    text-align: center;
    padding: 25px 10px;
    cursor: pointer;
}

.cart-button span {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer {
    padding: 20px 0px;
    text-align: right;
    font-size: 13px; 
    font-weight: 300;
    line-height: normal;
    color: #000; 
}

/* ------------------ Dynamik Styles ----------------------- */
.active-box-style {
    display: block;
    outline: 1.904px solid #007F61;
    background: #F4FBF9;
}

.active-bg {
    background: #007F61;
}

.active-outline {
    outline: 1.904px solid #007F61;
}